/* @font-face {
    font-family: "Road Rage";
    src :url("../police/road_rage/Road_Rage.otf");
  }*/

  @font-face {
    font-family: "Pixelmania";
    src: url("Pixelmania.ttf");
}
/* for the program page h1 and info */
i {
  font: normal 50px 'Pixelmania', Helvetica, Arial;
	color: #EEDDE0;
	text-shadow: 0 0 30px #EC637B,
		0 0 10px rgba(230, 161, 173, 0.41),
		0 0 100px #E6A1AD,
		0 0 500px #F36780,
		5px 9px 5px rgba(0, 0, 0, 0.5);
}

i.off {
	color: rgba(46, 46, 46, 0.61);
	text-shadow: 7px 7px 5px rgba(0, 0, 0, 0.5);
}
